<a href="https://colab.research.google.com/github/alehunter/CAP4770/blob/main/projects/OttoGroup_AlejandroHunter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <h1><font color='red'>OTTO GROUP PROJECT</font></h1>

The Otto Group is an e-commerce company that sells millions of products, with many more added to their line frequently.

Their issue is that due to coordination and infrastructure challenges, many identical products are classified and tracked differently. This causes problems when analzying sales and product perfomance. 

Their request is to build a model that accurately groups products into one of several main product categories.

# DATA

The first step as always is too take a look at the data.

We are told each row corresponds to a single product with 93 numerical features each.
Each feature represents counts of different events.

In [3]:
import pandas as pd
import numpy as np

otto_train = pd.read_csv("ottotrain.csv")
otto_train = otto_train.set_index("id")

In [4]:
otto_train

,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
id,,,,,,,,,,,,,,,,,,,,,
1,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Class_1
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Class_1
4,1,0,0,1,6,1,5,0,0,1,...,0,1,2,0,0,0,0,0,0,Class_1
5,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,Class_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61874,1,0,0,1,1,0,0,0,0,0,...,1,0,0,0,0,0,0,2,0,Class_9
61875,4,0,0,0,0,0,0,0,0,0,...,0,2,0,0,2,0,0,1,0,Class_9
61876,0,0,0,0,0,0,0,3,1,0,...,0,3,1,0,0,0,0,0,0,Class_9
61877,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,3,10,0,Class_9
61878,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,Class_9

Lets see how many of each target there are

In [ ]:
occur = otto_train.groupby(['target']).size()
occur

target
Class_1     1929
Class_2    16122
Class_3     8004
Class_4     2691
Class_5     2739
Class_6    14135
Class_7     2839
Class_8     8464
Class_9     4955
dtype: int64

# Baseline testing

Since we already have the data in a usable format, all we need to do is perform train test splitting in order to test out using a basic decision tree.

In [7]:
from sklearn.model_selection import train_test_split

featurecols = otto_train.columns.tolist()
featurecols.remove('target')


train_features, test_features, train_labels, test_labels = train_test_split(otto_train[featurecols], otto_train['target'], test_size=.2)
featurecols

['feat_1',
 'feat_2',
 'feat_3',
 'feat_4',
 'feat_5',
 'feat_6',
 'feat_7',
 'feat_8',
 'feat_9',
 'feat_10',
 'feat_11',
 'feat_12',
 'feat_13',
 'feat_14',
 'feat_15',
 'feat_16',
 'feat_17',
 'feat_18',
 'feat_19',
 'feat_20',
 'feat_21',
 'feat_22',
 'feat_23',
 'feat_24',
 'feat_25',
 'feat_26',
 'feat_27',
 'feat_28',
 'feat_29',
 'feat_30',
 'feat_31',
 'feat_32',
 'feat_33',
 'feat_34',
 'feat_35',
 'feat_36',
 'feat_37',
 'feat_38',
 'feat_39',
 'feat_40',
 'feat_41',
 'feat_42',
 'feat_43',
 'feat_44',
 'feat_45',
 'feat_46',
 'feat_47',
 'feat_48',
 'feat_49',
 'feat_50',
 'feat_51',
 'feat_52',
 'feat_53',
 'feat_54',
 'feat_55',
 'feat_56',
 'feat_57',
 'feat_58',
 'feat_59',
 'feat_60',
 'feat_61',
 'feat_62',
 'feat_63',
 'feat_64',
 'feat_65',
 'feat_66',
 'feat_67',
 'feat_68',
 'feat_69',
 'feat_70',
 'feat_71',
 'feat_72',
 'feat_73',
 'feat_74',
 'feat_75',
 'feat_76',
 'feat_77',
 'feat_78',
 'feat_79',
 'feat_80',
 'feat_81',
 'feat_82',
 'feat_83',
 'feat_84',
 'feat_85',
 'feat_86',
 'feat_87',
 'feat_88',
 'feat_89',
 'feat_90',
 'feat_91',
 'feat_92',
 'feat_93']

Now lets create the classifier, train it and test

In [8]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

clf = DecisionTreeClassifier(criterion='entropy')

clf.fit(train_features, train_labels)
predictions = clf.predict(test_features)

accuracy_score(test_labels, predictions)

0.7066903684550744

A basic decision tree is between 70 and 71% accurate

# Approach going forward

Now we know our baseline is 70%.

Given the style of the problem and the data, a few models that might work well with this problem come to mind.
They are: Clustering and Neural Networks

Clustering is typically used for unlabeled data, but since we are trying to group products together we could try this approach nonetheless and see what it comes up with.

A neural network might work for this problem because the data is sort of unstructured in that we are not given any context on what each feature represents. A NN could help our classification problem by identifying any patterns we might not be able to tell.

# Clustering

My thought process with choosing clustering is the following.
I was curious how accurate a kmeans classifier would group the data when instructed to create 9 groups, and compared with the actual labels.

In [ ]:
train_labels

3651     Class_2
44297    Class_6
9655     Class_2
2062     Class_2
27195    Class_4
          ...
34420    Class_6
21517    Class_3
40033    Class_6
48034    Class_7
49595    Class_8
Name: target, Length: 49502, dtype: object

In [ ]:
train_labels_array = train_labels.values.tolist()

In [ ]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=9, ).fit(train_features)
kmeanspredictions = kmeans.labels_

In [ ]:
kmeanspredictions = [x + 1 for x in kmeanspredictions]

In [ ]:
newlabels=[]
for x in kmeanspredictions:
  newval = "Class_" + str(x)
  newlabels.append(newval)

kmeanspredictions = newlabels

In [ ]:
accuracy_score(train_labels_array, kmeanspredictions)

0.21605187669185083

So that approach clearly didnt work.

Let's move on to something else

# Neural Network

The basic thought process with a neural network is the following.

We are going to be created a fully connected NN with one hidden layer.
The first layer will 93 inputs (one for each feature). 

The hidden layer will have 40 nodes, and the last layer will have 9 nodes, one for each class of product.

We'll need to convert the dataframe into a numpy array

Let's import the necessary packages

In [ ]:
import keras
from keras import models
from keras import layers

In [ ]:
network_train_features = np.array(train_features)
network_test_features = np.array(test_features)

network_train_features[0]

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 8, 2, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 5, 0, 0, 0, 0, 0, 0, 0, 9, 1, 0, 2, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 8, 1, 0,
       4, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 6, 2, 2,
       0, 0, 0, 0, 0])

For the labels lets keep only the number part of the text and convert it to an integer

In [ ]:
train_labels

3651     Class_2
44297    Class_6
9655     Class_2
2062     Class_2
27195    Class_4
          ...
34420    Class_6
21517    Class_3
40033    Class_6
48034    Class_7
49595    Class_8
Name: target, Length: 49502, dtype: object

In [ ]:
##creating this function that will transform our labels into desired format
def convertlabels(labels):
  templabels = []
  for label in labels:
    newlabel = int(label[6:])
    templabels.append(newlabel)
  labels = np.array(templabels)
  return labels

In [ ]:
network_train_labels = convertlabels(train_labels)
network_test_labels = convertlabels(test_labels)

In [ ]:
network_train_labels

array([2, 6, 2, ..., 6, 7, 8])

In [ ]:
input_size = 93
hidden_size = 40
output_size = 10



network = models.Sequential()
network.add(layers.Dense(hidden_size, activation='relu', input_shape=(input_size,)))
network.add(layers.Dense(output_size, activation='softmax'))

In [ ]:
network.compile(optimizer='rmsprop', loss='SparseCategoricalCrossentropy', metrics=['accuracy'])

In [ ]:
network.fit(network_train_features, network_train_labels, epochs=10, batch_size=128)

Epoch 1/10
387/387 [==============================] - 1s 2ms/step - loss: 0.9137 - accuracy: 0.7001
Epoch 2/10
387/387 [==============================] - 1s 2ms/step - loss: 0.6463 - accuracy: 0.7624
Epoch 3/10
387/387 [==============================] - 1s 2ms/step - loss: 0.6119 - accuracy: 0.7737
Epoch 4/10
387/387 [==============================] - 1s 2ms/step - loss: 0.5926 - accuracy: 0.7778
Epoch 5/10
387/387 [==============================] - 1s 2ms/step - loss: 0.5786 - accuracy: 0.7832
Epoch 6/10
387/387 [==============================] - 1s 2ms/step - loss: 0.5676 - accuracy: 0.7864
Epoch 7/10
387/387 [==============================] - 1s 2ms/step - loss: 0.5576 - accuracy: 0.7900
Epoch 8/10
387/387 [==============================] - 1s 2ms/step - loss: 0.5496 - accuracy: 0.7922
Epoch 9/10
387/387 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7939
Epoch 10/10
387/387 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7976

Now lets test test the accuracy on the test data

In [ ]:
test_loss, test_acc = network.evaluate(network_test_features, network_test_labels)
print('test_acc:', test_acc)

387/387 [==============================] - 1s 2ms/step - loss: 0.5892 - accuracy: 0.7807
test_acc: 0.7807046175003052

Given the above accuracy of 78%, this represents an almost 10% improvement on the decision tree of 71%

---------------------------

# Adjusting the network

Now that we know a network works well for this problem, lets make some adjustments.

In [ ]:
input_size = 93
hidden = [60, 30]
output_size = 10



network = models.Sequential()
network.add(layers.Dense(hidden[0], activation='relu', input_shape=(input_size,)))
network.add(layers.Dense(hidden[1], activation='sigmoid'))
network.add(layers.Dense(output_size, activation='softmax'))

In [ ]:
network.compile(optimizer='rmsprop', loss='SparseCategoricalCrossentropy', metrics=['accuracy'])

In [ ]:
network.fit(network_train_features, network_train_labels, epochs=10)

Epoch 1/10
1547/1547 [==============================] - 4s 2ms/step - loss: 0.7420 - accuracy: 0.7345
Epoch 2/10
1547/1547 [==============================] - 3s 2ms/step - loss: 0.5864 - accuracy: 0.7759
Epoch 3/10
1547/1547 [==============================] - 3s 2ms/step - loss: 0.5598 - accuracy: 0.7843
Epoch 4/10
1547/1547 [==============================] - 3s 2ms/step - loss: 0.5425 - accuracy: 0.7929
Epoch 5/10
1547/1547 [==============================] - 3s 2ms/step - loss: 0.5306 - accuracy: 0.7976
Epoch 6/10
1547/1547 [==============================] - 3s 2ms/step - loss: 0.5209 - accuracy: 0.7992
Epoch 7/10
1547/1547 [==============================] - 3s 2ms/step - loss: 0.5140 - accuracy: 0.8020
Epoch 8/10
1547/1547 [==============================] - 3s 2ms/step - loss: 0.5064 - accuracy: 0.8044
Epoch 9/10
1547/1547 [==============================] - 3s 2ms/step - loss: 0.4994 - accuracy: 0.8076
Epoch 10/10
1547/1547 [==============================] - 3s 2ms/step - loss: 0.4943 - accuracy: 0.8096

In [ ]:
test_loss, test_acc = network.evaluate(network_test_features, network_test_labels)
print('test_acc:', test_acc)

387/387 [==============================] - 1s 2ms/step - loss: 0.5488 - accuracy: 0.7908
test_acc: 0.7908048033714294

# XGBOOST

Another option to use is XGBoost. 
An error I made in the previous sections was declaring our data as "unstructured". After some research unstructured essentially means that features don't have any visible structure to humans, or that each feature could be all of the same unit, i.e pixels in an image, sounds in an audio file.
Although the the meaning of feature is unknown to us (those using the kaggle dataset), they do have a meaning. 
This is called Tabular Data and XGBoost is highly performant when it comes to this type of data.

In [9]:
otto_train

,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
id,,,,,,,,,,,,,,,,,,,,,
1,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Class_1
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Class_1
4,1,0,0,1,6,1,5,0,0,1,...,0,1,2,0,0,0,0,0,0,Class_1
5,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,Class_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61874,1,0,0,1,1,0,0,0,0,0,...,1,0,0,0,0,0,0,2,0,Class_9
61875,4,0,0,0,0,0,0,0,0,0,...,0,2,0,0,2,0,0,1,0,Class_9
61876,0,0,0,0,0,0,0,3,1,0,...,0,3,1,0,0,0,0,0,0,Class_9
61877,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,3,10,0,Class_9
61878,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,Class_9

In [10]:
#import libraries and encode features in a form that the model can use

from xgboost import XGBClassifier
from sklearn.preprocessing import OneHotEncoder

enc = OneHotEncoder(handle_unknown='ignore')
ottosparse = enc.fit_transform(otto_train[featurecols])
ottosparse

<61878x3960 sparse matrix of type '<class 'numpy.float64'>'
	with 5754654 stored elements in Compressed Sparse Row format>

In [11]:
xg_train_features, xg_test_features, xg_train_labels, xg_test_labels = train_test_split(ottosparse, otto_train['target'], test_size=.2)
xg_train_features

<49502x3960 sparse matrix of type '<class 'numpy.float64'>'
	with 4603686 stored elements in Compressed Sparse Row format>

In [ ]:
params = {'tree_method':'gpu_hist', 'predictor':'gpu_predictor' }

model = XGBClassifier(params)

We are going to be performing randomized grid search on the following parameters to find the best performing combination..

In [ ]:
param_grid = {
    'n_estimators': [50, 100, 150, 200, 300, 400],
    'max_depth': [2, 4, 6, 8, 10, 12, 15],
    'learning_rate': [0.05, 0.10, 0.15, 0.20, 0.25, 0.30 ]
}

In [ ]:
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import RandomizedSearchCV
param_comb = 5
folds=5
skf = StratifiedKFold(n_splits=folds, shuffle = True, random_state = 1001)
random_search = RandomizedSearchCV(model, param_distributions=param_grid, n_iter=param_comb,  n_jobs=-1, 
                                   cv=skf.split(xg_train_features,xg_train_labels), verbose=3)

In [ ]:
grid_result = random_search.fit(xg_train_features,xg_train_labels)

Fitting 5 folds for each of 5 candidates, totalling 25 fits

In [ ]:
random_search.best_params_

{'n_estimators': 200, 'max_depth': 10, 'learning_rate': 0.15}

In [ ]:
predictions = random_search.best_estimator_.predict(xg_test_features)
accuracy_score(xg_test_labels, predictions)

0.8014705882352942

With xgboost and some hyper parameter tuning we were able to get to 80%.
Much better than the 71% of the decision tree and even the 78% of the neural network.

Let's verify that these hyper parameters give us the results we expect.

In [12]:
tunedXGB = XGBClassifier(n_estimators=200, predictor='gpu_predictor', tree_method='gpu_hist', max_depth=10, learning_rate=.15)

In [13]:
tunedXGB.fit(xg_train_features, xg_train_labels)

XGBClassifier(learning_rate=0.15, max_depth=10, n_estimators=200,
              objective='multi:softprob', predictor='gpu_predictor',
              tree_method='gpu_hist')

In [16]:
tunedPredictions = tunedXGB.predict(xg_test_features)
accuracy_score(xg_test_labels, tunedPredictions)

0.8028442146089205

Now that we know the best parameters to use, we can train the model on the entire dataset and test on the unlabeled test set (the one provided by kaggle).

# Final XGBoost adjustments and using OTTO test data

Lets use the entire Otto_train data set to train our model

In [17]:
otto_train

,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
id,,,,,,,,,,,,,,,,,,,,,
1,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Class_1
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Class_1
4,1,0,0,1,6,1,5,0,0,1,...,0,1,2,0,0,0,0,0,0,Class_1
5,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,Class_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61874,1,0,0,1,1,0,0,0,0,0,...,1,0,0,0,0,0,0,2,0,Class_9
61875,4,0,0,0,0,0,0,0,0,0,...,0,2,0,0,2,0,0,1,0,Class_9
61876,0,0,0,0,0,0,0,3,1,0,...,0,3,1,0,0,0,0,0,0,Class_9
61877,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,3,10,0,Class_9
61878,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,Class_9

Fit the model...

In [19]:
finalmodel = XGBClassifier(n_estimators=200, predictor='gpu_predictor', tree_method='gpu_hist', max_depth=10, learning_rate=.15)

In [20]:
finalmodel.fit(otto_train[featurecols], otto_train['target'])

XGBClassifier(learning_rate=0.15, max_depth=10, n_estimators=200,
              objective='multi:softprob', predictor='gpu_predictor',
              tree_method='gpu_hist')

Let's formate the test data...

In [23]:
otto_test = pd.read_csv("ottotest.csv")
otto_test = otto_test.set_index('id')
otto_test

,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10,...,feat_84,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93
id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,3,...,0,0,11,1,20,0,0,0,0,0
2,2,2,14,16,0,0,0,0,0,0,...,0,0,0,0,0,4,0,0,2,0
3,0,1,12,1,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,1
4,0,0,0,1,0,0,0,0,0,0,...,0,3,1,0,0,0,0,0,0,0
5,1,0,0,1,0,0,1,2,0,3,...,0,0,0,0,0,0,0,9,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144364,0,0,0,0,0,0,0,0,0,1,...,0,0,2,1,1,0,0,0,0,0
144365,0,0,0,0,0,0,0,0,0,0,...,0,1,4,1,11,0,0,0,0,0
144366,0,1,0,0,0,0,1,1,0,0,...,0,1,3,1,1,0,0,1,0,0
144367,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,5,0,0,0,1,0
144368,0,0,0,0,0,0,0,0,0,0,...,0,0,9,1,6,0,0,0,0,0

In [26]:
predictions = finalmodel.predict(otto_test)

In [42]:
pred = pd.DataFrame(predictions)
pred = pd.get_dummies(pred[0])
pred

,Class_1,Class_2,Class_3,Class_4,Class_5,Class_6,Class_7,Class_8,Class_9
0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,1,0,0,0
3,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...
144363,1,0,0,0,0,0,0,0,0
144364,0,0,1,0,0,0,0,0,0
144365,0,1,0,0,0,0,0,0,0
144366,0,0,0,1,0,0,0,0,0
144367,0,1,0,0,0,0,0,0,0

In [43]:
idcol = arr=np.arange(1,144369,1)
pred.insert(0, 'id', idcol)

In [44]:
pred

,id,Class_1,Class_2,Class_3,Class_4,Class_5,Class_6,Class_7,Class_8,Class_9
0,1,0,0,0,1,0,0,0,0,0
1,2,0,0,0,0,0,0,0,1,0
2,3,0,0,0,0,0,1,0,0,0
3,4,0,1,0,0,0,0,0,0,0
4,5,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
144363,144364,1,0,0,0,0,0,0,0,0
144364,144365,0,0,1,0,0,0,0,0,0
144365,144366,0,1,0,0,0,0,0,0,0
144366,144367,0,0,0,1,0,0,0,0,0
144367,144368,0,1,0,0,0,0,0,0,0

In [45]:
pred = pred.set_index('id')
pred

,Class_1,Class_2,Class_3,Class_4,Class_5,Class_6,Class_7,Class_8,Class_9
id,,,,,,,,,
1,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,1,0,0,0
4,0,1,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...
144364,1,0,0,0,0,0,0,0,0
144365,0,0,1,0,0,0,0,0,0
144366,0,1,0,0,0,0,0,0,0
144367,0,0,0,1,0,0,0,0,0
144368,0,1,0,0,0,0,0,0,0

In [46]:
submission = pred.to_csv('submission.csv')