<h1>CREATING A CLASSIFIER FROM LOAN DATA</h1>

In [1650]:
#import pandas and see what data looks like
import pandas as pd

data = pd.read_csv('loan_train.csv')
data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
579,LP002888,Male,No,0,Graduate,NaN,3182,2917.0,161.0,360.0,1.0,Urban,Y
580,LP002892,Male,Yes,2,Graduate,No,6540,0.0,205.0,360.0,1.0,Semiurban,Y
581,LP002893,Male,No,0,Graduate,No,1836,33837.0,90.0,360.0,1.0,Urban,N
582,LP002894,Female,Yes,0,Graduate,No,3166,0.0,36.0,360.0,1.0,Semiurban,Y
583,LP002898,Male,Yes,1,Graduate,No,1880,0.0,61.0,360.0,NaN,Rural,N

First we need to clean up the data.

Several columns have either yes or no as values.
I'm going to change those to either 1 or 0

In [1651]:
##clean up gender column
data['Male'] =  data['Gender'].apply(lambda x: 1 if x == 'Male' else 0)
data  = data.drop('Gender', axis=1) 
data

,Loan_ID,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Male
0,LP001002,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y,1
1,LP001003,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N,1
2,LP001005,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y,1
3,LP001006,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y,1
4,LP001008,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
579,LP002888,No,0,Graduate,NaN,3182,2917.0,161.0,360.0,1.0,Urban,Y,1
580,LP002892,Yes,2,Graduate,No,6540,0.0,205.0,360.0,1.0,Semiurban,Y,1
581,LP002893,No,0,Graduate,No,1836,33837.0,90.0,360.0,1.0,Urban,N,1
582,LP002894,Yes,0,Graduate,No,3166,0.0,36.0,360.0,1.0,Semiurban,Y,0
583,LP002898,Yes,1,Graduate,No,1880,0.0,61.0,360.0,NaN,Rural,N,1

In [1652]:
##clean up education column
data['Graduate'] =  data['Education'].apply(lambda x: 1 if x == 'Graduate' else 0)
data  = data.drop('Education', axis=1) 
data

,Loan_ID,Married,Dependents,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Male,Graduate
0,LP001002,No,0,No,5849,0.0,NaN,360.0,1.0,Urban,Y,1,1
1,LP001003,Yes,1,No,4583,1508.0,128.0,360.0,1.0,Rural,N,1,1
2,LP001005,Yes,0,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y,1,1
3,LP001006,Yes,0,No,2583,2358.0,120.0,360.0,1.0,Urban,Y,1,0
4,LP001008,No,0,No,6000,0.0,141.0,360.0,1.0,Urban,Y,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
579,LP002888,No,0,NaN,3182,2917.0,161.0,360.0,1.0,Urban,Y,1,1
580,LP002892,Yes,2,No,6540,0.0,205.0,360.0,1.0,Semiurban,Y,1,1
581,LP002893,No,0,No,1836,33837.0,90.0,360.0,1.0,Urban,N,1,1
582,LP002894,Yes,0,No,3166,0.0,36.0,360.0,1.0,Semiurban,Y,0,1
583,LP002898,Yes,1,No,1880,0.0,61.0,360.0,NaN,Rural,N,1,1

In [1653]:
#clean up married and self employed columns
data['Is_Married'] =  data['Married'].apply(lambda x: 1 if x == 'Yes' else 0)
data  = data.drop('Married', axis=1) 
data

data['Is_SelfEmployed'] =  data['Self_Employed'].apply(lambda x: 1 if x == 'Yes' else 0)
data  = data.drop('Self_Employed', axis=1) 
data

,Loan_ID,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Male,Graduate,Is_Married,Is_SelfEmployed
0,LP001002,0,5849,0.0,NaN,360.0,1.0,Urban,Y,1,1,0,0
1,LP001003,1,4583,1508.0,128.0,360.0,1.0,Rural,N,1,1,1,0
2,LP001005,0,3000,0.0,66.0,360.0,1.0,Urban,Y,1,1,1,1
3,LP001006,0,2583,2358.0,120.0,360.0,1.0,Urban,Y,1,0,1,0
4,LP001008,0,6000,0.0,141.0,360.0,1.0,Urban,Y,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
579,LP002888,0,3182,2917.0,161.0,360.0,1.0,Urban,Y,1,1,0,0
580,LP002892,2,6540,0.0,205.0,360.0,1.0,Semiurban,Y,1,1,1,0
581,LP002893,0,1836,33837.0,90.0,360.0,1.0,Urban,N,1,1,0,0
582,LP002894,0,3166,0.0,36.0,360.0,1.0,Semiurban,Y,0,1,1,0
583,LP002898,1,1880,0.0,61.0,360.0,NaN,Rural,N,1,1,1,0

Now we have to one-hot encode the property_Area and dependents columns

In [1654]:
propertyDummies = pd.get_dummies(data['Property_Area'])


data['PropertyArea_Rural'] = propertyDummies['Rural']
data['PropertyArea_Semiurban'] = propertyDummies['Semiurban']
data['PropertyArea_Urban'] = propertyDummies['Urban']
data = data.drop('Property_Area', axis=1)



data = data.dropna()
data = data.set_index('Loan_ID')
data

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Male,Graduate,Is_Married,Is_SelfEmployed,PropertyArea_Rural,PropertyArea_Semiurban,PropertyArea_Urban
Loan_ID,,,,,,,,,,,,,,
LP001003,1,4583,1508.0,128.0,360.0,1.0,N,1,1,1,0,1,0,0
LP001005,0,3000,0.0,66.0,360.0,1.0,Y,1,1,1,1,0,0,1
LP001006,0,2583,2358.0,120.0,360.0,1.0,Y,1,0,1,0,0,0,1
LP001008,0,6000,0.0,141.0,360.0,1.0,Y,1,1,0,0,0,0,1
LP001011,2,5417,4196.0,267.0,360.0,1.0,Y,1,1,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
LP002877,1,1782,2232.0,107.0,360.0,1.0,Y,1,1,1,0,1,0,0
LP002888,0,3182,2917.0,161.0,360.0,1.0,Y,1,1,0,0,0,0,1
LP002892,2,6540,0.0,205.0,360.0,1.0,Y,1,1,1,0,0,1,0
LP002893,0,1836,33837.0,90.0,360.0,1.0,N,1,1,0,0,0,0,1
LP002894,0,3166,0.0,36.0,360.0,1.0,Y,0,1,1,0,0,1,0

In [1655]:
depDummies = pd.get_dummies(data['Dependents'])
data['Dependents_0'] = depDummies['0']
data['Dependents_1'] = depDummies['1']
data['Dependents_2'] = depDummies['2']
data['Dependents_3+'] = depDummies['3+']
data = data.drop('Dependents', axis=1)
data

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Male,Graduate,Is_Married,Is_SelfEmployed,PropertyArea_Rural,PropertyArea_Semiurban,PropertyArea_Urban,Dependents_0,Dependents_1,Dependents_2,Dependents_3+
Loan_ID,,,,,,,,,,,,,,,,,
LP001003,4583,1508.0,128.0,360.0,1.0,N,1,1,1,0,1,0,0,0,1,0,0
LP001005,3000,0.0,66.0,360.0,1.0,Y,1,1,1,1,0,0,1,1,0,0,0
LP001006,2583,2358.0,120.0,360.0,1.0,Y,1,0,1,0,0,0,1,1,0,0,0
LP001008,6000,0.0,141.0,360.0,1.0,Y,1,1,0,0,0,0,1,1,0,0,0
LP001011,5417,4196.0,267.0,360.0,1.0,Y,1,1,1,1,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
LP002877,1782,2232.0,107.0,360.0,1.0,Y,1,1,1,0,1,0,0,0,1,0,0
LP002888,3182,2917.0,161.0,360.0,1.0,Y,1,1,0,0,0,0,1,1,0,0,0
LP002892,6540,0.0,205.0,360.0,1.0,Y,1,1,1,0,0,1,0,0,0,1,0
LP002893,1836,33837.0,90.0,360.0,1.0,N,1,1,0,0,0,0,1,1,0,0,0
LP002894,3166,0.0,36.0,360.0,1.0,Y,0,1,1,0,0,1,0,1,0,0,0

Now the data is in a format we can use.
All category columns have been encoding in some way.

Next on to creating a classifier, but first...

<h1>Approach to testing and classification</h1>

Since our test data doesn't have labels we won't be be able to use it for tuning the classifer. We're going to have to split the training data up.

After splitting up the data we are going to need to think about different classifiers and which might be the best to use.

In [1656]:
from sklearn.model_selection import train_test_split


featureColumns = data.columns.values.tolist()
featureColumns.remove('Loan_Status')
labelColumn = 'Loan_Status'

loans_train, loans_test = train_test_split(data, test_size=.20)

loans_train_features = loans_train[featureColumns]
loans_train_labels = loans_train[labelColumn]

loans_test_features = loans_test[featureColumns]
loans_test_labels = loans_test[labelColumn]

<h1>Lets see how different classifiers work</h1>

<h3>Decision Tree</h3>

In [1657]:
##lets see how a decision tree does
from sklearn import tree
from sklearn.metrics import accuracy_score

scores = pd.Series()
for i in range(100):
    treeclf = tree.DecisionTreeClassifier(criterion='entropy')
    treeclf.fit(loans_train_features, loans_train_labels)

    predictions = treeclf.predict(loans_test_features)

    scores.loc[len(scores)] = accuracy_score(predictions, loans_test_labels)

scores.describe()

/var/folders/68/x11f6mqj1dg6k297z97_2pgw0000gn/T/ipykernel_14372/613141747.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  scores = pd.Series()

count    100.000000
mean       0.743061
std        0.006385
min        0.724490
25%        0.734694
50%        0.744898
75%        0.744898
max        0.755102
dtype: float64

<h3>Bagging Classifer with decision tree</h3>

In [1658]:
##lets use the same parameters as above and run 100 times

from sklearn.ensemble import BaggingClassifier

clf = tree.DecisionTreeClassifier(criterion='entropy')
bagging_clf = BaggingClassifier(clf, n_estimators=20, max_samples=.7, max_features=.7,bootstrap=True, n_jobs=-1)
bagging_clf.fit(loans_train_features, loans_train_labels)
predictions = bagging_clf.predict(loans_test_features)
accuracy_score(predictions, loans_test_labels)

0.8061224489795918

So running the individual decision tree and the bagging classifier yielded highly variable results. Bagging always had better results, but the difference was also highly variable.

<h3>Lets give the test dataset a shot</h3>

First we need to wrangle the dataset

In [1659]:
loanTestData = pd.read_csv('loan_test.csv')
loanTestData.fillna(0, inplace = True)
loanTestData = loanTestData.drop('Unnamed: 0', axis=1)
loanTestData

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP002911,Male,Yes,1,Graduate,No,2787,1917,146.0,360,0.0,Rural
1,LP002912,Male,Yes,1,Graduate,No,4283,3000,172.0,84,1.0,Rural
2,LP002916,Male,Yes,0,Graduate,No,2297,1522,104.0,360,1.0,Urban
3,LP002917,Female,No,0,Not Graduate,No,2165,0,70.0,360,1.0,Semiurban
4,LP002925,0,No,0,Graduate,No,4750,0,94.0,360,1.0,Semiurban
5,LP002926,Male,Yes,2,Graduate,Yes,2726,0,106.0,360,0.0,Semiurban
6,LP002928,Male,Yes,0,Graduate,No,3000,3416,56.0,180,1.0,Semiurban
7,LP002931,Male,Yes,2,Graduate,Yes,6000,0,205.0,240,1.0,Semiurban
8,LP002933,0,No,3+,Graduate,Yes,9357,0,292.0,360,1.0,Semiurban
9,LP002936,Male,Yes,0,Graduate,No,3859,3300,142.0,180,1.0,Rural
10,LP002938,Male,Yes,0,Graduate,Yes,16120,0,260.0,360,1.0,Urban
11,LP002940,Male,No,0,Not Graduate,No,3833,0,110.0,360,1.0,Rural
12,LP002941,Male,Yes,2,Not Graduate,Yes,6383,1000,187.0,360,1.0,Rural
13,LP002943,Male,No,0,Graduate,No,2987,0,88.0,360,0.0,Semiurban
14,LP002945,Male,Yes,0,Graduate,Yes,9963,0,180.0,360,1.0,Rural
15,LP002948,Male,Yes,2,Graduate,No,5780,0,192.0,360,1.0,Urban
16,LP002949,Female,No,3+,Graduate,0,416,41667,350.0,180,0.0,Urban
17,LP002950,Male,Yes,0,Not Graduate,0,2894,2792,155.0,360,1.0,Rural
18,LP002953,Male,Yes,3+,Graduate,No,5703,0,128.0,360,1.0,Urban
19,LP002958,Male,No,0,Graduate,No,3676,4301,172.0,360,1.0,Rural
20,LP002959,Female,Yes,1,Graduate,No,12000,0,496.0,360,1.0,Semiurban
21,LP002960,Male,Yes,0,Not Graduate,No,2400,3800,0.0,180,1.0,Urban
22,LP002961,Male,Yes,1,Graduate,No,3400,2500,173.0,360,1.0,Semiurban
23,LP002964,Male,Yes,2,Not Graduate,No,3987,1411,157.0,360,1.0,Rural
24,LP002974,Male,Yes,0,Graduate,No,3232,1950,108.0,360,1.0,Rural
25,LP002978,Female,No,0,Graduate,No,2900,0,71.0,360,1.0,Rural
26,LP002979,Male,Yes,3+,Graduate,No,4106,0,40.0,180,1.0,Rural
27,LP002983,Male,Yes,1,Graduate,No,8072,240,253.0,360,1.0,Urban
28,LP002984,Male,Yes,2,Graduate,No,7583,0,187.0,360,1.0,Urban
29,LP002990,Female,No,0,Graduate,Yes,4583,0,133.0,360,0.0,Semiurban

In [1660]:
loanTestData['Male'] =  loanTestData['Gender'].apply(lambda x: 1 if x == 'Male' else 0)
loanTestData  = loanTestData.drop('Gender', axis=1) 
loanTestData['Graduate'] =  loanTestData['Education'].apply(lambda x: 1 if x == 'Graduate' else 0)
loanTestData  = loanTestData.drop('Education', axis=1) 
loanTestData['Is_Married'] =  loanTestData['Married'].apply(lambda x: 1 if x == 'Yes' else 0)
loanTestData  = loanTestData.drop('Married', axis=1) 


loanTestData['Is_SelfEmployed'] =  loanTestData['Self_Employed'].apply(lambda x: 1 if x == 'Yes' else 0)
loanTestData  = loanTestData.drop('Self_Employed', axis=1) 

propertyDummies_ = pd.get_dummies(loanTestData['Property_Area'])


loanTestData['PropertyArea_Rural'] = propertyDummies_['Rural']
loanTestData['PropertyArea_Semiurban'] = propertyDummies_['Semiurban']
loanTestData['PropertyArea_Urban'] = propertyDummies_['Urban']
loanTestData = loanTestData.drop('Property_Area', axis=1)
loanTestData = loanTestData.set_index('Loan_ID')


depDummies_ = pd.get_dummies(loanTestData['Dependents'])
loanTestData['Dependents_0'] = depDummies_['0']
loanTestData['Dependents_1'] = depDummies_['1']
loanTestData['Dependents_2'] = depDummies_['2']
loanTestData['Dependents_3+'] = depDummies_['3+']
loanTestData = loanTestData.drop('Dependents', axis=1)
loanTestData

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Male,Graduate,Is_Married,Is_SelfEmployed,PropertyArea_Rural,PropertyArea_Semiurban,PropertyArea_Urban,Dependents_0,Dependents_1,Dependents_2,Dependents_3+
Loan_ID,,,,,,,,,,,,,,,,
LP002911,2787,1917,146.0,360,0.0,1,1,1,0,1,0,0,0,1,0,0
LP002912,4283,3000,172.0,84,1.0,1,1,1,0,1,0,0,0,1,0,0
LP002916,2297,1522,104.0,360,1.0,1,1,1,0,0,0,1,1,0,0,0
LP002917,2165,0,70.0,360,1.0,0,0,0,0,0,1,0,1,0,0,0
LP002925,4750,0,94.0,360,1.0,0,1,0,0,0,1,0,1,0,0,0
LP002926,2726,0,106.0,360,0.0,1,1,1,1,0,1,0,0,0,1,0
LP002928,3000,3416,56.0,180,1.0,1,1,1,0,0,1,0,1,0,0,0
LP002931,6000,0,205.0,240,1.0,1,1,1,1,0,1,0,0,0,1,0
LP002933,9357,0,292.0,360,1.0,0,1,0,1,0,1,0,0,0,0,1
LP002936,3859,3300,142.0,180,1.0,1,1,1,0,1,0,0,1,0,0,0
LP002938,16120,0,260.0,360,1.0,1,1,1,1,0,0,1,1,0,0,0
LP002940,3833,0,110.0,360,1.0,1,0,0,0,1,0,0,1,0,0,0
LP002941,6383,1000,187.0,360,1.0,1,0,1,1,1,0,0,0,0,1,0
LP002943,2987,0,88.0,360,0.0,1,1,0,0,0,1,0,0,0,0,0
LP002945,9963,0,180.0,360,1.0,1,1,1,1,1,0,0,1,0,0,0
LP002948,5780,0,192.0,360,1.0,1,1,1,0,0,0,1,0,0,1,0
LP002949,416,41667,350.0,180,0.0,0,1,0,0,0,0,1,0,0,0,1
LP002950,2894,2792,155.0,360,1.0,1,0,1,0,1,0,0,1,0,0,0
LP002953,5703,0,128.0,360,1.0,1,1,1,0,0,0,1,0,0,0,1
LP002958,3676,4301,172.0,360,1.0,1,1,0,0,1,0,0,1,0,0,0
LP002959,12000,0,496.0,360,1.0,0,1,1,0,0,1,0,0,1,0,0
LP002960,2400,3800,0.0,180,1.0,1,0,1,0,0,0,1,1,0,0,0
LP002961,3400,2500,173.0,360,1.0,1,1,1,0,0,1,0,0,1,0,0
LP002964,3987,1411,157.0,360,1.0,1,0,1,0,1,0,0,0,0,1,0
LP002974,3232,1950,108.0,360,1.0,1,1,1,0,1,0,0,1,0,0,0
LP002978,2900,0,71.0,360,1.0,0,1,0,0,1,0,0,1,0,0,0
LP002979,4106,0,40.0,180,1.0,1,1,1,0,1,0,0,0,0,0,1
LP002983,8072,240,253.0,360,1.0,1,1,1,0,0,0,1,0,1,0,0
LP002984,7583,0,187.0,360,1.0,1,1,1,0,0,0,1,0,0,1,0
LP002990,4583,0,133.0,360,0.0,0,1,0,1,0,1,0,1,0,0,0

In [1661]:
loanTestData['Prediction'] = bagging_clf.predict(loanTestData[featureColumns])
loanTestData['Prediction'] = loanTestData['Prediction'].apply(lambda x: 1 if x == 'Y' else 0)
loanTestData

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Male,Graduate,Is_Married,Is_SelfEmployed,PropertyArea_Rural,PropertyArea_Semiurban,PropertyArea_Urban,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Prediction
Loan_ID,,,,,,,,,,,,,,,,,
LP002911,2787,1917,146.0,360,0.0,1,1,1,0,1,0,0,0,1,0,0,0
LP002912,4283,3000,172.0,84,1.0,1,1,1,0,1,0,0,0,1,0,0,1
LP002916,2297,1522,104.0,360,1.0,1,1,1,0,0,0,1,1,0,0,0,1
LP002917,2165,0,70.0,360,1.0,0,0,0,0,0,1,0,1,0,0,0,1
LP002925,4750,0,94.0,360,1.0,0,1,0,0,0,1,0,1,0,0,0,1
LP002926,2726,0,106.0,360,0.0,1,1,1,1,0,1,0,0,0,1,0,0
LP002928,3000,3416,56.0,180,1.0,1,1,1,0,0,1,0,1,0,0,0,1
LP002931,6000,0,205.0,240,1.0,1,1,1,1,0,1,0,0,0,1,0,1
LP002933,9357,0,292.0,360,1.0,0,1,0,1,0,1,0,0,0,0,1,1
LP002936,3859,3300,142.0,180,1.0,1,1,1,0,1,0,0,1,0,0,0,1
LP002938,16120,0,260.0,360,1.0,1,1,1,1,0,0,1,1,0,0,0,1
LP002940,3833,0,110.0,360,1.0,1,0,0,0,1,0,0,1,0,0,0,1
LP002941,6383,1000,187.0,360,1.0,1,0,1,1,1,0,0,0,0,1,0,1
LP002943,2987,0,88.0,360,0.0,1,1,0,0,0,1,0,0,0,0,0,0
LP002945,9963,0,180.0,360,1.0,1,1,1,1,1,0,0,1,0,0,0,0
LP002948,5780,0,192.0,360,1.0,1,1,1,0,0,0,1,0,0,1,0,1
LP002949,416,41667,350.0,180,0.0,0,1,0,0,0,0,1,0,0,0,1,0
LP002950,2894,2792,155.0,360,1.0,1,0,1,0,1,0,0,1,0,0,0,1
LP002953,5703,0,128.0,360,1.0,1,1,1,0,0,0,1,0,0,0,1,1
LP002958,3676,4301,172.0,360,1.0,1,1,0,0,1,0,0,1,0,0,0,1
LP002959,12000,0,496.0,360,1.0,0,1,1,0,0,1,0,0,1,0,0,1
LP002960,2400,3800,0.0,180,1.0,1,0,1,0,0,0,1,1,0,0,0,1
LP002961,3400,2500,173.0,360,1.0,1,1,1,0,0,1,0,0,1,0,0,0
LP002964,3987,1411,157.0,360,1.0,1,0,1,0,1,0,0,0,0,1,0,1
LP002974,3232,1950,108.0,360,1.0,1,1,1,0,1,0,0,1,0,0,0,1
LP002978,2900,0,71.0,360,1.0,0,1,0,0,1,0,0,1,0,0,0,1
LP002979,4106,0,40.0,180,1.0,1,1,1,0,1,0,0,0,0,0,1,1
LP002983,8072,240,253.0,360,1.0,1,1,1,0,0,0,1,0,1,0,0,1
LP002984,7583,0,187.0,360,1.0,1,1,1,0,0,0,1,0,0,1,0,1
LP002990,4583,0,133.0,360,0.0,0,1,0,1,0,1,0,1,0,0,0,0

In [1662]:
##write to text file
with open('fridayLoans_results.txt', 'w') as f:
    for val in loanTestData['Prediction']:
        f.write(str(val))
        f.write('\n')